*{
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
}
.slide-wh{
    margin: 0 auto;
}
.underline{
    height: 5px;
    width: 200px;
    background-color: red;
    border-radius: 20px;
}
.bg-f2f2f2{
    background-color: #f2f2f2;
}